<div class="flex flex-col">
  <div
    class="text-[12px] normal-case leading-5 tracking-[0.4px] !text-white !w-full px-1 bg-[#33B063]">
    {{ cardBoxItem.topTitle }}
  </div>
  <div
    class="flex flex-col p-2 gap-1 rounded-[8px] w-[209px] !bg-gradient-to-b from-[#2f435e] from-[41.21%] via-[#4b5e65] via-[83.79%] to-[#201b22] to-[100%]">
    <p class="text-caption text-right normal-case fs-2">J-xx</p>
    <h4
      class="uppercase font-bold flex justify-center tracking-[2px] leading-4">
      {{ cardBoxItem.title }}
    </h4>
    <img src="/assets/img/coffre-ouvert.png" class="w-[183px] h-[153px]" />
    <div
      class="w-full flex justify-center items-center flex-shrink-0 items-center px-4">
      <button class="btn-reclamer m-3">RECLAMER</button>
    </div>
  </div>
</div>
