<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Confirmation login</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width:
                100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding:
                8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h3>Code de Confirmation </h3>
    <table>
        <tr>
            <th>Nom</th>
            <th>{{ name }}</th>
        </tr>
        <tr>
            <td>Ou copier le code</td>
            <td>{{uuid}}</td>
        </tr>

    </table>
</body>

</html>