<div
  class="check-group grid grid-cols-4 gap-4"
  [ngClass]="disableAllItems ? 'disabled-content' : ''">
  <div *ngFor="let param of itemList; index as i">
    <label for="myCheckbox01" class="checkbox mb-5 mr-6">
      <input
        class="checkbox__input"
        type="checkbox"
        [id]="'myCheckbox' + i"
        (change)="runFilter(param.filterParams, i, 'myCheckbox' + i)"
        [checked]="selectedCheckboxIndex === i" />
      <svg
        class="checkbox__icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 22 22">
        <rect
          width="21"
          height="21"
          x=".5"
          y=".5"
          fill="transparent"
          stroke="white"
          rx="3" />
        <path
          class="tick"
          stroke="white"
          fill="none"
          stroke-linecap="round"
          stroke-width="4"
          d="M4 10l5 5 9-9" />
      </svg>
      <span class="checkbox__label">{{ param.text | translate }}</span>
    </label>
  </div>
</div>
