<div class="container-login">
  <div
    class="w-full lg:w-[560px] mx-auto max-w-sm sm:max-w-md md:max-w-lg lg:max-w-2xl">
    <div class="flex items-center px-8">
      <div class="flex-grow h-0.5 bg-custom-color"></div>
      <div
        class="mx-4 flex justify-center items-center h-20 w-20 sm:h-32 sm:w-32 md:h-40 md:w-40 lg:h-48 lg:w-48 rounded-full border-2 border-solid">
        <img
          src="/assets/img/forgot.png"
          class="w-12 h-12 sm:w-auto sm:h-auto" />
      </div>
      <div class="flex-grow h-0.5 bg-custom-color"></div>
    </div>
    <form class="bg-white rounded px-8 pt-6 pb-8" [formGroup]="forgotForm">
      <div class="mb-10">
        <div class="relative">
          <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
            <!-- User Icon -->
            <i class="fa fa-envelope"></i>
          </span>
          <input
            (keyup.enter)="onResetBtnClicked()"
            type="text"
            placeholder="{{ 'user.votre_email' | translate }}"
            formControlName="email"
            class="w-full pl-10 pr-4 py-2 rounded border border-gray-400 focus:border-blue-500 focus:outline-none focus:shadow-outline" />
        </div>
        <small>{{
          getInputError(forgotForm.controls['email'], 'email')
        }}</small>
      </div>

      <div class="flex items-center justify-between w-full mb-8">
        <button
          (click)="onResetBtnClicked()"
          class="btn-sign bg-custom-color txt-btn font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
          type="button">
          <!-- Reinitialiser -->{{ 'user.Réinitialiser' | translate }}
        </button>
      </div>
      <div class="text-center mb-6">
        <div class="">
          <a routerLink="/auth/register">
            <!-- Vous n'avez pas de compte ? S'inscrire -->{{
              'user.Vous_n_avez_pas_de_compte_?_S_inscrire' | translate
            }}
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
<hr class="lg:w-[88%] md:w-[88%] mx-auto mt-7 w-80" />
