<div class="flex flex-col">
  <div class="text-[12px] normal-case !text-white !w-full px-1 bg-[#33B063]">
    {{ cardBoxItem.topTitle }}
  </div>
  <div
    class="flex flex-col px-2 p-1 gap-1 rounded-[8px] w-[209px] !bg-gradient-to-b from-[#2f435e] from-[41.21%] via-[#4b5e65] via-[83.79%] to-[#201b22] to-[100%]">
    <span
      class="text-center text-caption uppercase pt-2 font-bold flex justify-center">
      {{ cardBoxItem.title }}
    </span>
    <span class="text-caption text-center">
      {{ cardBoxItem.subTitle }}
    </span>
    <div class="flex justify-center rounded">
      <img
        [src]="getBoxImageURL(cardBoxItem.imageUrl ?? '')"
        class="w-[183px] h-[153px] rounded" />
    </div>
    <div class="w-full flex justify-between flex-shrink-0 items-center px-2">
      <div
        class="text-caption text-white flex px-1 rounded-full !bg-[#D2339B] items-center h-5">
        {{ cardBoxItem.textLeft }}
      </div>
      <div class="text-h5 text-white">{{ cardBoxItem.textRight }}</div>
    </div>
  </div>
</div>
