.fs-28 {
  font-size: 28px;
}

.fs-22 {
  font-size: 22px;
}

.fs-20 {
  font-size: 20px;
}

.fs-48 {
  font-size: 48px;
}

.fs-14 {
  font-size: 14px;
}

.custom-bg {
  background: #44566c !important;
}

.reclaim-offer {
  background-color: #2f435e !important;
  border-radius: 8px;
}
