# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings a2

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings tes

# DATABASE_URL="mongodb://root:example@localhost:27017/laskein?authSource=admin&retryWrites=true&w=majority"

#postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslidentity=client-identity.p12&sslpassword=mypassword&sslcert=rootca.cert dfdf
#DATABASE_URL="postgresql://objectif:87Y4jYei@185.177.116.26:5432/laskein"
CONTAINER_NAME=lasken-container-api-develop
IMAGE_NAME=lasken-api-develop
UPLOAD_PATH=/home/ogino/Documents/Objectif/Laskein/back-end/upload
#DATABASE_URL= "mongodb://localhost:27017/laskein"
#DATABASE_URL="mongodb+srv://jean2rolker:CwQCpxraCVzabCt0@laskein.rusx84f.mongodb.net/laskein?retryWrites=true&w=majority"
PORT=7001
DATABASE_URL="mongodb+srv://laskein-back:iFUwQXKOmUE8Hz37@laskein.cckajy0.mongodb.net/laskein?retryWrites=true&w=majority"
JWT_SECRET="moopmohguiguguerwrhkjhfsdfhksahlfdsflkjhdsfhlds"
JWT_REFRESH_SECRET="dfdngkldkadfls537454sflfdfkjjrzz99894zljealkazkaf"
JWT_SECRET_CODE_CONFIRM="lkdlkgldkglkdgsksjfk5458754ùfmkflerkkshhskf5686flkfooi"
JWT_EXPIRATION_TIME='1h'
JWT_SECRET_CODE_CONFIRM_EXPIRATION_TIME='1h'
JWT_REFRESH_EXPIRATION_TIME='1d'

# mail config
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=soandroniriela@gmail.com
MAIL_PASSWORD=vwylsyjfikyayljp
MAIL_FROM=soandroniriela@gmail.com

#Stripe config
STRIPE_SECRET_KEY = "sk_test_51NW1ajI4Id7T97Lk0GbtCcWTkhaXiSeIwDbLLmwXkuZJ24FvvgEx075JJJvHq6plNidKVRyzzV92OXKhLM3TII2N00vxqnkCB2"
STRIPE_CURRENCY = USD
FRONTEND_URL = http://localhost:4200