<div class="container-login">
  <div
    class="w-full lg:w-[560px] mx-auto max-w-sm sm:max-w-md md:max-w-lg lg:max-w-2xl">
    <div class="flex items-center mb-4">
      <div class="flex-grow h-0.5 bg-custom-color"></div>
      <div class="mx-4 rounded-img">
        <img src="/assets/img/key.png" />
      </div>
      <div class="flex-grow h-0.5 bg-custom-color"></div>
    </div>
    <form class="bg-white rounded px-8 pt-6 pb-8" [formGroup]="newPasswordForm">
      <div class="mb-4">
        <div class="relative">
          <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
            <!-- Password Icon -->
            <i class="fa fa-lock"></i>
          </span>
          <input
            id="newPassword"
            type="password"
            placeholder="{{ 'user.Nouveau_mot_de_passe' | translate }}"
            formControlName="newPassword"
            [(ngModel)]="newPassword"
            [type]="showNewPassword ? 'text' : 'password'"
            class="w-full pl-10 pr-4 py-2 rounded border border-gray-400 focus:border-blue-500 focus:outline-none focus:shadow-outline" />
          <span
            class="absolute inset-y-0 right-0 pr-3 flex items-center"
            (click)="toggleNewPasswordVisibility()">
            <i *ngIf="showNewPassword" class="fa fa-eye cursor-pointer"></i>
            <i
              *ngIf="!showNewPassword"
              class="fa fa-eye-slash cursor-pointer"></i>
          </span>
        </div>
        <small>{{
          getInputError(newPasswordForm.controls['newPassword'], 'newPassword')
        }}</small>
      </div>
      <div class="mb-10">
        <div class="relative">
          <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
            <!-- Password Icon -->
            <i class="fa fa-lock"></i>
          </span>
          <input
            (keyup.enter)="onConfirmNewPassword()"
            id="newConfirmPassword"
            type="password"
            placeholder="{{
              'user.Confirmation_nouveau_mot_de_passe' | translate
            }}"
            formControlName="newPasswordConfirm"
            [(ngModel)]="newConfirmPassword"
            [type]="showNewConfirmPassword ? 'text' : 'password'"
            class="w-full pl-10 pr-4 py-2 rounded border border-gray-400 focus:border-blue-500 focus:outline-none focus:shadow-outline" />
          <span
            class="absolute inset-y-0 right-0 pr-3 flex items-center"
            (click)="toggleNewConfirmPasswordVisibility()">
            <i
              *ngIf="showNewConfirmPassword"
              class="fa fa-eye cursor-pointer"></i>
            <i
              *ngIf="!showNewConfirmPassword"
              class="fa fa-eye-slash cursor-pointer"></i>
          </span>
        </div>
        <small>{{
          getInputError(
            newPasswordForm.controls['newPasswordConfirm'],
            'newPasswordConfirm'
          )
        }}</small>
        <small>
          {{ passwordMatch() }}
        </small>
      </div>
      <div class="flex items-center justify-between w-full mb-8">
        <button
          (click)="onConfirmNewPassword()"
          class="btn-sign bg-custom-color txt-btn font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
          type="button">
          <!-- Enregistrer -->{{ 'user.Enregistrer' | translate }}
        </button>
      </div>
      <div class="text-center mb-6">
        <div>
          <a routerLink="/auth/register">
            <!-- S'inscrire -->{{ 'user.s_inscrire' | translate }} ?</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
