<div
  class="flex w-full justify-center h-full pt-[120px] max-w-screen-xl mx-auto">
  <div style="padding-inline: 48px">
    <p style="text-align: center; line-height: 108%; font-size: 20pt">
      <strong
        ><u>{{ 'termes' | translate }}</u></strong
      >
    </p>
    <p style="text-align: center">&nbsp;</p>
    <p style="text-align: right">&nbsp;</p>
    <p>&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'before' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'present' | translate }} [
      <a href="https://laskein.com/" style="text-decoration: none"
        ><span class="Hyperlink !text-[#347EFC]">https://laskein.com</span></a
      >
      ]. {{ 'therefore' | translate }}
    </p>
    <p>&nbsp;</p>
    <p style="line-height: 108%; font-size: 16pt">
      <strong>Introduction :</strong>
    </p>
    <p>&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'byCreating' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'byVisiting' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'reserve' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'theMost' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'ifYou' | translate }}
      <a href="mailto:contact@laskein.com" style="text-decoration: none"
        ><span class="Hyperlink">contact@laskein.com</span></a
      >
      .
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">
      <strong>I) {{ 'customer' | translate }}</strong>
    </p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'ForAny' | translate }}
      <a href="mailto:contact@laskein.com" style="text-decoration: none"
        ><span class="Hyperlink">contact@laskein.com</span></a
      >
      . {{ 'please' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">
      <strong>II) {{ 'accounts' | translate }}</strong>
    </p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">&nbsp;</p>
    <b>1 - {{ 'Registration' | translate }}</b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'youCan' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'toMake' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'registrationReq' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b>2 - {{ 'age' | translate }}</b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'weReserve' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'ifYouDo' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'ByAgreeing' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b> 3 - {{ 'violation' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'ifYouProvide' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'inTheEvent' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b>4 - {{ 'Termination' | translate }}</b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'weReserveTheRight' | translate }} :
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'youAccount' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'NoActivity' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'YouRequestIt' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'theSupporting' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'InCase' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'ifYouEver' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'However' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'weWill' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'pleaseNote' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b>5 - {{ 'useOfBank' | translate }}</b>
    <p>&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'ifYouWish' | translate }}
    </p>
    <p>&nbsp;</p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">
      <strong>III) {{ 'Management' | translate }}</strong>
    </p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">&nbsp;</p>
    <b> <span>-</span>{{ 'Deposits' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'userCan' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'theMinimum' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'itIsImportant' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'weTakeCredit' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b> <span>-</span>Withdrawals </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'usersHave' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'whenYou' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'however' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b> <span>-</span>{{ 'ManagementFees' | translate }}</b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'LaskeinReserves' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Immediate' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'creation' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'FeesForUnjustified' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'inAddition' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'ifYouMake' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'youUnderstand' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'youAcknowledge' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b> <span>-</span>{{ 'ManagementOf' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'weUse' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b> <span>-</span>{{ 'UpdatesTo' | translate }}</b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'youAreRwsponsible' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b> <span>-</span>{{ 'changesTo' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'weReservethe' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b> <span>-</span>{{ 'Refund' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'AllPurchases' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b>
      <span>-</span>
      {{ 'Prohibited' | translate }}
    </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'youAgree' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'useTheService' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Disregard' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'linkTheSite' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Publish' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Impersonate' | translate }}
      etc.
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Manipulate' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Bypass' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Reverse' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Attempt' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'Violation' | translate }}
    </p>
    <p>&nbsp;</p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">
      <strong>IV){{ 'Fraudulent' | translate }}</strong>
    </p>
    <p style="text-align: center">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'weMake' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Violate' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Create' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Maintain' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Abuse' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Engage' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'gainAnUnfair' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'useGame' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'UseAStolen' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'carryOut' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'useTheSite' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Exploit' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'weHave' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'During' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'ifAUser' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'gainsOrItems' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'anyBonus' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'theLinked' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'Additionally' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'theResults' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'inCompliance' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'anyFraudulent' | translate }}
    </p>
    <p>&nbsp;</p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">
      <strong>V) {{ 'KeyPoints' | translate }}s</strong>
    </p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">&nbsp;</p>
    <b> <span>-</span>{{ 'Sponsorship' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'aReferral' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'asForReferred' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'thisOffer' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b> <span>-</span>{{ 'Subscriptions' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'weOffer' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b> <span>-</span>Box </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'whenYouPurchase' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b> <span>-</span>{{ 'DailyReward' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'everyDay' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'theMore' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'onceThe' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b> <span>-</span>{{ 'RewardTiers' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'RewardTiersAllow' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b> <span>-</span>{{ 'Conditions' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'thisRaffle' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'onceThe10000' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'theRaffle' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ '1Winner' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ '3Winner' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ '5Winner' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'Winners' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'WinnersWill' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'Participation' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'ByParticipation' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">
      <strong>VI) {{ 'Article' | translate }}</strong>
    </p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">&nbsp;</p>
    <b> <span>-</span>{{ 'Delivery' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'pleaseNoteThat' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'atTimes' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'onceYouHaveProvide' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'WeWould' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b>
      <span>-</span>
      {{ 'return' | translate }}
    </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'pleaseNoteThatThe' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">
      <strong>VII) {{ 'Affiliates' | translate }}</strong>
    </p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">&nbsp;</p>
    <b> <span>-</span>{{ 'AffiliateProgram' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'weOfferAn' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b>
      <span>-</span>
      {{ 'ProhibitedUses' | translate }}
    </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'weReserveThe' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'UseDeceptive' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'UseUrls' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'EngageIn' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'UseTechniques' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Deceive' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Identify' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'ViolateAny' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'APresumed' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">
      <strong>VIII) {{ 'Dispute' | translate }} </strong>&nbsp;
    </p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">&nbsp;</p>
    <b>1 - {{ 'Applicable' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'theTermsOfUse' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b>2 - {{ 'Rights' | translate }}</b>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'acknowledge' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'Reimbursement' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'Regarding' | translate }}
    </p>
    <p>&nbsp;</p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">
      <strong>IX) {{ 'Warnings' | translate }}</strong>
    </p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">&nbsp;</p>
    <b> <span>-</span>{{ 'Disclaimer' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'weCannot' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'weReverseThe' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b> <span>-</span>{{ 'DisclaimerAnd' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'YouAcknowledge' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <b> <span>-</span>{{ 'Legal' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'Access' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">
      <strong>X) {{ 'Limitation' | translate }}</strong>
    </p>
    <p style="text-align: center; line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'LasKeinReserves' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'InAnyCase' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'WeDisclaim' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Bodily' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Interruptions' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">- {{ 'Bugs' | translate }}</p>
    <p style="line-height: 108%; font-size: 12pt">
      - {{ 'Potential' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'occurrence' | translate }}
    </p>
    <p>&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">
      <strong>XI) {{ 'Intellectual' | translate }}</strong>
    </p>
    <p style="text-align: center; line-height: 108%; font-size: 15.5pt">
      &nbsp;
    </p>
    <b> <span>-</span>{{ 'Protection' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'attach' | translate }}
    </p>
    <p>&nbsp;</p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">
      <strong>XII) General</strong>
    </p>
    <p style="text-align: center; line-height: 108%; font-size: 16pt">&nbsp;</p>
    <b> <span>-</span>{{ 'Service' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'weEngage' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'consider' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'conflict' | translate }}
    </p>
    <p>&nbsp;</p>
    <b> <span>-</span>{{ 'Invalidity' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'provision' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'illegality' | translate }}
    </p>
    <p>&nbsp;</p>
    <b class="ListParagraph">
      <span style="font-size: 12pt">-</span>
      {{ 'Communications' | translate }}
    </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <ul style="margin: 0pt; padding-left: 0pt">
      <li
        class="ListParagraph"
        style="
          margin-left: 28.52pt;
          margin-bottom: 0pt;
          line-height: 108%;
          padding-left: 7.48pt;
          font-family: serif;
          font-size: 12pt;
        ">
        <span style="font-family: Calibri">{{ 'authorize' | translate }}.</span>
      </li>
      <li
        class="ListParagraph"
        style="
          margin-left: 28.06pt;
          margin-bottom: 0pt;
          padding-left: 7.94pt;
          font-family: serif;
        ">
        <span style="font-family: Calibri"
          >{{ 'understand' | translate }}.</span
        >
      </li>
      <li
        class="ListParagraph"
        style="
          margin-left: 28.06pt;
          margin-bottom: 0pt;
          padding-left: 7.94pt;
          font-family: serif;
        ">
        <span style="font-family: Calibri"
          >{{ 'authorization' | translate }}.</span
        >
      </li>
      <li
        class="ListParagraph"
        style="margin-left: 28.06pt; padding-left: 7.94pt; font-family: serif">
        <span style="font-family: Calibri">{{
          'understandAnd' | translate
        }}</span>
      </li>
    </ul>
    <p>&nbsp;</p>
    <b> <span>-</span>{{ 'Commitments' | translate }} </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'consent' | translate }}
    </p>
    <p>&nbsp;</p>
    <b>
      <span>-</span>
      {{ 'Compliance' | translate }}
    </b>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'subject' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'strictly' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'important' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'explicit' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">
      {{ 'discretionary' | translate }}
    </p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p style="line-height: 108%; font-size: 12pt">&nbsp;</p>
    <p>&nbsp;</p>
    <p style="text-align: right">{{ 'Update' | translate }}</p>
    <p>&nbsp;</p>
  </div>
</div>
